@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>Focus Admin: Creative Admin Dashboard</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/css/lib/chartist/chartist.min.css" rel="stylesheet">
    @*<link href="~/css/lib/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="~/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="css/lib/calendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/css/lib/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body style="style= margin-bottom:50px; position:initial">
    <div style="position: relative; min-height: 100vh;">
        <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
            <div class="nano">
                <div class="nano-content">
                    <ul>
                        <div class="logo">
                            <a href="index.html">
                                <!-- <img src="images/logo.png" alt="" /> --> <span>Focus</span>
                            </a>
                        </div>
                        <li class="label">Main</li>
                        <li>
                            <a onclick="location.replace('https://localhost:44386/Home/Index')" asp-area="" asp-controller="Home" asp-action="Index" class="sidebar-sub-toggle"><i class="fa-solid fa-house"></i> Dashboard</a>
                        </li>
                        <hr />
                        <li>
                            <a onclick="location.replace('https://localhost:44386/Project/Index')" asp-area="" asp-controller="Project" asp-action="Index" class="sidebar-sub-toggle"><i class="fa-solid fa-building"></i>Projects</a>
                        </li>
                        <hr />
                        <li>
                            <a onclick="location.replace('https://localhost:44386/Invoice/Index')" asp-area="" asp-controller="Invoice" asp-action="Index" class="sidebar-sub-toggle"><i class="fa-solid fa-receipt"></i>Invoices</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <hr />
                            <li class="label">Admin</li>

                            <li>
                                <a onclick="location.replace('https://localhost:44386/Client/Index')" asp-area="" asp-controller="Client" asp-action="Index" class="sidebar-sub-toggle"><i class="fa-solid fa-users-line"></i>Clients</a>
                            </li>
                            <hr />
                            <li>
                                <a onclick="location.replace('https://localhost:44386/ProjectUser/Index')" asp-area="" asp-controller="ProjectUser" asp-action="Index" class="sidebar-sub-toggle"><i class="fa-solid fa-user"></i>Usres</a>
                            </li>

                        }
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /# sidebar -->

        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-left">
                            <div class="hamburger sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="header-icon">
                                <span class="user-avatar">
                                    @User.Identity.Name
                                </span>
                                <form class="form-inline d-inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
                                    <button type="submit" class="nav-link btn btn-link text-danger font-weight-bold"><i class="fa-solid fa-sign-out"></i> Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <!-- /# row -->
                    <section id="main-content">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/js/lib/menubar/sidebar.js"></script>
    <script src="~/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->

    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <!-- bootstrap -->
    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <script src="~/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="js/lib/calendar-2/semantic.ui.min.js"></script>
    <script src="js/lib/calendar-2/prism.min.js"></script>
    <script src="~/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="~/js/lib/calendar-2/pignose.init.js"></script>


    <script src="~/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/js/lib/weather/weather-init.js"></script>
    <script src="~/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="~/js/lib/chartist/chartist.min.js"></script>
    <script src="~/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="~/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="~/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/lib/moment/moment.js"></script>
    <script src="js/lib/calendar/fullcalendar.min.js"></script>
    <script src="js/lib/calendar/fullcalendar-init.js"></script>
    <!-- scripit init-->
    <script src="~/js/dashboard2.js"></script>
</body>
<footer class="bg-light text-center text-lg-start m-0 position-absolute" style="bottom:0px; width:100%">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://localhost:44386/Home/Index">PMIS.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- jquery vendor -->


@RenderSection("Scripts", required: false)



</html>
